/* Position */
.p-relative {
  position: relative;
}
/* dimantion */
.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.full-height-p {
  height: 100%;
}
/* flex */
.d-flex {
  display: flex;
}
/* Justify  */
.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.jc-start {
  justify-content: start;
}
.ai-center {
  align-items: center;
}
.ai-stretch {
  align-items: stretch;
}
/* //flex diraction */
.fd-column {
  flex-direction: column;
}
.fd-row {
  flex-direction: row;
}
/* text */
.t-center {
  text-align: center;
}
.fw-bold {
  font-weight: bold;
}
